@using TeamManager.Core.Entities
@model TeamManager.Core.Entities.Game

@{
    ViewData["Title"] = "Create Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Developer>? developers = ViewBag.Developers as List<Developer>;
    List<Genre>? genres = ViewBag.Genres as List<Genre>;
    List<Language>? languages = ViewBag.Languages as List<Language>;
    List<Platform>? platforms = ViewBag.Platforms as List<Platform>;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">@Model.Price</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input asp-for="Price" type="number" class="form-control" min="0" step="0.01" />
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReleasedDate"></label>
        <input asp-for="ReleasedDate" type="date" class="form-control" />
        <span asp-validation-for="ReleasedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Main Image:</label>
        <input type="file" name="imageFile" class="form-control-file" />
        <span asp-validation-for="MainImage" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="platforms">Select Platforms:</label>
        @Html.DisplayNameFor(model => model.Platforms)

        <select id="platforms" class="form-select" name="Platforms" multiple>
    
                @foreach (var platform in platforms)
                {
                    var selected = Model.Platforms.Any(x => x.Name == platform.Name) ? true : false;

                    <!option value="@platform.Id" @(selected ? "selected" : "")>@platform.Name</!option>
                }
            
        </select>
    </div>

    <div class="mb-3">
        @Html.DisplayNameFor(model => model.Genres)

        <select id="genres" class="form-select" name="Genres" multiple>
            @foreach (var genre in genres)
            {
                var selected = Model.Genres.Any(x => x.Name == genre.Name) ? true : false;
                <!option value="@genre.Id" @(selected ? "selected" : "")>@genre.Name</!option>
            }
        </select>
    </div>

    <div class="mb-3">
    @Html.DisplayNameFor(model => model.Developers)

    <select id="developers" class="form-select" name="Developers" multiple>
            @foreach (var developer in developers)
            {
                var selected = Model.Developers.Any(x => x.Name == developer.Name) ? true : false;
                <!option value="@developer.Id" @(selected ? "selected" : "")>@developer.Name</!option>
            }
        </select>
    </div>

    <div class="mb-3">
        @Html.DisplayNameFor(model => model.Languages)

        <select id="languages" class="form-select" name="Languages" multiple>
            @foreach (var language in languages)
            {
                var selected = Model.Languages.Any(x => x.Name == language.Name) ? true : false;
                <!option value="@language.Id" @(selected ? "selected" : "")>@language.Name</!option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts
{
   
    <script>
        $(function () {
            console.log("dffedfe"); $("#platforms").select2();
            $("#genres").select2();
            $("#languages").select2();
            $("#developers").select2();
        });

        function updatePriceValue(value) {
            document.getElementById('priceValue').textContent = value;
        }
    </script>
}

