@using TeamManager.Core.Entities
@model TeamManager.Core.Entities.Game

@{
    ViewData["Title"] = "Edit Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Developer>? developers = ViewBag.Developers as List<Developer>;
    List<Genre>? genres = ViewBag.Genres as List<Genre>;
    List<Language>? languages = ViewBag.Languages as List<Language>;
    List<Platform>? platforms = ViewBag.Platforms as List<Platform>;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">@Model.Price</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input asp-for="Price" type="number" class="form-control" min="0" step="0.01" />
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReleasedDate"></label>
        <input asp-for="ReleasedDate" class="form-control" />
        <span asp-validation-for="ReleasedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Main Image:</label>
        <input type="file" name="ImageFile" class="form-control-file" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <!-- Platforms selection -->
    @if (platforms != null)
    {
        <div class="form-group">
            <label>Select Platforms:</label>
            <select id="platforms" class="form-select" name="Platforms" multiple>
                @foreach (var platform in platforms)
                {
                    var selected = Model.Platforms.Any(x => x.Name == platform.Name) ? "selected" : "";

                    <!option value="@platform.Id" @selected>@platform.Name</!option>
                }
            </select>
        </div>
    }
    <!-- Genres selection -->
    @if (genres != null)
    {
        <div class="form-group">
            <label>Select Genres:</label>
            <select asp-for="Genres" class="form-control" multiple>
                @foreach (var genre in genres)
                {
                    var selected = Model.Genres.Any(g => g.Id == genre.Id) ? "selected" : "";
                    <!option value="@genre.Id" @selected>@genre.Name</!option>
                }
            </select>
        </div>
    }

<!-- Languages selection -->
    @if (languages != null)
    {
        <div class="form-group">
            <label>Select Languages:</label>
            <select asp-for="Languages" class="form-control" multiple>
                @foreach (var language in languages)
                {
                    var selected = Model.Languages.Any(l => l.Id == language.Id) ? "selected" : "";
                    <!option value="@language.Id" @selected>@language.Name</!option>
                }
            </select>
        </div>
    }

<!-- Developers selection -->
    @if (developers != null)
    {
        <div class="form-group">
            <label>Select Developers:</label>
            <select asp-for="Developers" class="form-control" multiple>
                @foreach (var developer in developers)
                {
                    var selected = Model.Developers.Any(d => d.Id == developer.Id) ? "selected" : "";
                    <!option value="@developer.Id" @selected>@developer.Name</!option>
                }
            </select>
        </div>
    }

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@section Scripts
{

    <script>
        $(function () {
            $("#platforms").select2();
            $("#genres").select2();
            $("#languages").select2();
            $("#developers").select2();
        });

        function updatePriceValue(value) {
            document.getElementById('priceValue').textContent = value;
        }
    </script>
}