@using TeamManager.Core.Entities

@model List<TeamManager.Core.Entities.Game>

@{
    ViewData["Title"] = "List of Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Developer>? developers = ViewBag.Developers as List<Developer>;
    List<Genre>? genres = ViewBag.Genres as List<Genre>;
    List<Language>? languages = ViewBag.Languages as List<Language>;
    List<Platform>? platforms = ViewBag.Platforms as List<Platform>;
}

<form asp-controller="Game" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" class="form-control" placeholder="Search by filter" />
        <button class="btn btn-outline-secondary m-0" type="submit">Search</button>
    </div>
</form>

<a href="@Url.Action("Create", "Game")" class="btn btn-primary float-end">Add Game</a>

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<div class="row">
    @foreach (var game in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="@game.MainImage" class="card-img-top" alt="Game Image">
                <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <p class="card-text">@game.Description</p>
                </div>
                <ul class="list-group list-group-flush bg-white">
                    <li class="list-group-item text-dark">Price: @game.Price</li>
                    <li class="list-group-item text-dark">Released Date: @game.ReleasedDate.ToString("yyyy-MM-dd")</li>
                    <li class="list-group-item text-dark">
                        Platforms:
                        <ul class="list-unstyled">
                            @foreach (var platform in game.Platforms)
                            {
                                <li class="text-dark">@platform.Name</li>
                            }
                        </ul>
                    </li>
                    <li class="list-group-item text-dark">
                        Genres:
                        <ul class="list-unstyled">
                            @foreach (var genre in game.Genres)
                            {
                                <li class="text-dark">@genre.Name</li>
                            }
                        </ul>
                    </li>
                    <li class="list-group-item text-dark">
                        Developers:
                        <ul class="list-unstyled">
                            @foreach (var developer in game.Developers)
                            {
                                <li class="text-dark">@developer.Name</li>
                            }
                        </ul>
                    </li>
                    <li class="list-group-item text-dark">
                        Languages:
                        <ul class="list-unstyled">
                            @foreach (var language in game.Languages)
                            {
                                <li class="text-dark">@language.Name</li>
                            }
                        </ul>
                    </li>
                </ul>

                <div class="card-body">
                    <a href="@Url.Action("Edit", "Game", new { id = game.Id })" class="card-link btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Game", new { id = game.Id })" class="card-link btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

