@using TeamManager.Core.Entities
@model List<AdvertisementForSales>

@{
    ViewData["Title"] = "List of advertisements for sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var currentUserId = ViewBag.CurrentUserId as string;
}

<a href="@Url.Action("Create", "AdvertisementForSales")" class="btn btn-primary float-end">Add Advertisement for Sales</a>

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<div class="row">
    @foreach (var advertisement in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="@Url.Content($"~/{advertisement.MainImage}")" class="card-img-top" alt="@advertisement.Name">
                <div class="card-body">
                    <h5 class="card-title">@advertisement.Name</h5>
                    <p class="card-text">@advertisement.Description</p>
                    <p class="card-text">Price: @advertisement.Price</p>
                    <p class="card-text">Status: @(advertisement.IsActive ? "Active" : "Passive")</p>

                    @if (advertisement.userId.ToString() == currentUserId)
                    {
                        <a href="@Url.Action("Edit", "AdvertisementForSales", new { id = advertisement.Id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Delete", "AdvertisementForSales", new { id = advertisement.Id })" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
