﻿@using TeamManager.Core.Entities;

@model List<AdvertisementToFind>

@{
    ViewData["Title"] = "List of advertisements to find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Create", "AdvertisementToFind")" class="btn btn-success float-end">Add advertisements to find</a>

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<div class="row">
    @foreach (var advertisement in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@advertisement.Name</h5>
                    <p class="card-text">@advertisement.Description</p>
                    <p class="card-text">Ціна: @advertisement.Price</p>
                    <p class="card-text">Статус: @(advertisement.IsActive ? "Active" : "Passive")</p>

                    <a href="@Url.Action("Delete", "AdvertisementToFind", new { id = advertisement.Id })" class="btn btn-danger">Видалити</a>
                    <a href="@Url.Action("Edit", "AdvertisementToFind", new { id = advertisement.Id })" class="btn btn-primary">Редагувати</a>

                </div>
            </div>
        </div>
    }
</div>

