@using TeamManager.Core.Entities

@model List<GameAccount>

@{
    ViewData["Title"] = "List of Game Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Game>? games = ViewBag.Games as List<Game>;
}

<a href="@Url.Action("Create", "GameAccount")" class="btn btn-primary float-end">Add Game Account</a>

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<div class="row">
    @foreach (var account in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@account.Name</h5>
                    <p class="card-text">Platform: @(account.accountPlatform != null ? account.accountPlatform.Name : "Unknown")</p>
                    <p class="card-text">Main Image: <img src="@Url.Content(account.MainImage)" class="img-fluid" alt="Main Image" /></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Games:
                            <ul>
                                @foreach (var game in account.Games)
                                {
                                    <li>@game.Name</li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <a href="@Url.Action("Delete", "GameAccount", new { id = account.Id })" class="btn btn-danger">Delete</a>
                    <a href="@Url.Action("Edit", "GameAccount", new { id = account.Id })" class="btn btn-warning">Edit</a>
                </div>
            </div>
        </div>
    }
</div>
